body {
    font-family: 'Roboto', sans-serif;
     color: #434455;
     background:  #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
img {
    display : block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-navigate {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
padding: 24px 0;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu-item {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-menu-item :hover {
    color: #404bbf;
}

.header-menu-item :focus {
    color: #404bbf;
}

.header-menu-item__link {
    color: #2e2f42;
    padding: 24px 0;
}
.header-contacts {
    font-style: normal;
    margin-left: auto;
}
.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-item {
 font-size: 16px;
/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.header-contacts-item :hover {
    color: #404bbf;
}

.header-contacts-item :focus {
    color: #404bbf;
}

.header-contacts-item__link {
    color: #434455;
    padding: 24px 0;
}


.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
font-weight: 700;
font-size: 56px;
/* line-height: 60px; */ 
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;

}

.hero-section-title {
    max-width: 496px;
    margin: 0 auto;
}

.hero-button {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color:  #4D5AE5;
display: block;
margin: 0 auto;
margin-top: 48px;
min-width: 169px;
height: 56px;
border-radius: 4px;
border: none;
}

.hero-button:hover {
    background-color:  #404BBF;
}

.hero-button:focus {
    background-color:  #404BBF;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-menu-list {
    display: flex; 
    gap: 24px;
}
.features-menu-item {
    background-color: #FFFFFF;
 width: calc((100% - 3 * 24px) / 4);
}
.features-item-title {
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

}

.features-item-subtitle {
font-size: 16px;
/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;

}

.visually-hidden {
     position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
} 

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
font-weight: 700;
font-size: 36px;
/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-menu-list {
    display: flex;
    gap: 24px;
}

.team-cart {
    padding: 32px 0
}

.team-menu-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
}

.team-item-title {
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-item-role {
font-size: 16px;
/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
 text-transform: capitalize;
    margin-bottom: 72px; 
}

.portfolio-menu-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;  
}

.portfolio-menu-item {
}

.portfolio-cart {      
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
} 

.portfolio-item-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-item-subtitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.footer-logo-color {
color: #f4f4fd;
}

.footer-item {
font-size: 16px;
/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;

}

